.beat-container {
    display: flex;
    justify-content: space-between;
}

.main-licenses {
    /*padding: 24px;*/
    /*background-color: rgb(10,10,10);*/
    border-radius: 10px;
}

.main-license {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #272727;
    position: relative;
}

.beat-license:hover {
    background-color: rgb(30,30,30);
}

.select {
    background-color: #081b39;
    border: 1px solid #005ff8;
    pointer-events: none;
}

.comment {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 32px;
}

.comment-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.comment-text {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-comment {
    margin-left: 16px;
    display: flex;
    align-items: end;
    width: 100%;
}

.comment-input {
    background-color: inherit;
    color: white;
    border-bottom: 1px solid #707070;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.comment-button {
    border-radius: 999px;
    margin-left: 16px;
    width: 44px;
    height: 42px;
    background-color: rgb(74 74 74);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0.2;
}

.comment-button:hover {
    background-color: #0b8aff;
}

.comment-button ion-icon {
    color: white;
    font-size: 17px;
    transform: translateX(1px);
}

.comment-delete {
    background-color: inherit;
    display: inline-block;
    color: rgb(255, 0, 0);
    margin-left: 16px;
}

.warning-delete-comment {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
    z-index: 300;
}

.warning-delete-comment-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color: #141414;
    border-radius: 20px;
    z-index: 400;
}

/*.similar {*/
/*    padding-left: 24px;*/
/*}*/

@media (max-width: 767px) {
    .beat-container {
        flex-direction: column;
    }
}