.content {
    margin: 56px 0;
    align-self: center;
}

.content-container {
    display: grid;
    grid-template-columns: 264px 1fr;
    grid-template-areas:
        "image metadata"
        "image actions";
    grid-gap: 24px 48px;
    /*max-width: 1264px;*/
    size: 264px;
    margin: 0 auto;
}

.content-image-container {
    width: 100%;
    position: relative;
    grid-area: image;
    border-radius: 5px;
    overflow: hidden;
}

.content-image-container:after {
     content: "";
     padding-top: 100%;
     display: block;
     margin-bottom: 5px;
 }

.content-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.content-details {
    grid-area: metadata;
    align-self: end;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-description {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    max-height: calc( 2 * 14px * 1.4 );

    line-height: 1.4;
    max-width: 640px;
}

.content-actions {
    grid-area: actions;
    align-self: start;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.content-licenses {
    width: 500px;
    margin-left: 24px;
}

.content-btn-free {
    display: none;
}

@media (max-width: 935px) {
    .content-container {
        grid-template-columns: 190px 1fr;
    }
    /*.content-container {*/
    /*    grid-template-areas:*/
    /*    "image metadata"*/
    /*    "image metadata"*/
    /*    "actions actions";*/
    /*}*/
    /*.content-details {*/
    /*    align-self: center;*/
    /*}*/
    .content-description-beat {
        display: none;
    }
}

@media (max-width: 767px) {
    .content-licenses {
        width: 100%;
        margin-left: 0;
    }
    .content-btn-free {
        display: initial;
    }
}

@media (max-width: 615px) {
    .content {
        margin: 16px auto;
    }
    .content-container {
        grid-template-columns: 160px 1fr;
        grid-gap: 16px;
    }
}