.successfully {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(24 24 24);
    border: 1px solid rgb(40 40 40);
    display: none;
    opacity: 0;
    transition: .5s;
}

.settings-title {
    padding: 40px 0 40px 0;
}

.settings-container {
    display: flex;
}

.settings-menu {
    width: 228px;
    padding: 24px 0;
    border-radius: 15px;
    border: 1px solid rgb(109 109 109);
    display: inline-block;
    margin-right: 16px;
}

.settings-menu-button {
    width: 100%;
    padding: 5px 0 5px 10px;
    margin: 5px 0;
    color: #9f9f9f;
    background-color: transparent;
    text-align: left;
    border-left: 2px solid transparent;
}

.settings-menu-button:hover {
    color: white;
}

.settings-menu-active {
    color: white;
    border-left: 2px solid white;
    pointer-events: none;
}

.settings {
    width: 100%;
    max-width: 652px;
    margin: auto;
}

.settings-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 999px;
    pointer-events: initial;
    cursor: pointer;
}

.settings-item {
    margin-top: 22px;
    width: 100%;
}

.settings button {
    padding: 9px 20px;
}

.settings-item input, .settings-item textarea {
    width: 100%;
    color: white;
    border-radius: 4px;
    background-color: rgba(43,43,43,0.91);
    padding: 12px 12px;
    border: 1px solid transparent;
    transition: .15s;
}

.settings-item textarea {
    height: 100px;
    resize: none;
}

.warning {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
    color: red;
    display: none;
}

@media (max-width: 1025px) {
}

@media (max-width: 980px) {
    .settings-container {
        flex-direction: column;
    }

    .settings-menu {
        width: 100%;
        margin: 0 0 32px 0;
    }

    .settings {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {

}