.grid-users {
    padding: 15px 0;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-auto-rows: 162px;*/
}

.grid-users-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

.user-img-container {
    width: 100%;
    border-radius: 999px;
    overflow: hidden;

    position: relative;
    grid-area: image;
}

.user-img-container:after {
    content: "";
    padding-top: 100%;
    display: block;
    margin-bottom: 5px;
}

.user-img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    border-radius: 999px;
}

@media (max-width: 1215px) {
    .grid-users {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .grid-users {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 410px) {
    .grid-users {
        grid-template-columns: 1fr 1fr;
    }
}
