.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    column-gap: 48px;
}

.cart-beat-image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.cart-title {
    width: 330px;
}

.cart-right {
    border-radius: 15px;
    border: 1px solid rgb(25, 25, 25);
    padding: 20px;
}

.cart-user-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.cart-total {
    color: #00eb88;
}

.cart-btn {
    font-size: 14px;
    font-weight: 400;
    background-color: #181818c7;
    color: white;
    padding: 9px;
}

.cart-btn:hover {
    background-color: #181818;
}

@media (max-width: 904px) {
    .cart-title {
        width: 210px;
    }
}

@media (max-width: 767px) {
    .cart-container {
        grid-template-columns: 1fr;
    }
    .cart-title {
        width: 310px;
    }
}

@media (max-width: 500px) {
    .cart-title {
        width: 200px;
    }
}

@media (max-width: 390px) {
    .cart-title {
        width: 140px;
    }
}