.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.90);
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
}
.loader {
    border: 12px solid #222222;
    border-radius: 50%;
    border-top: 12px solid #005ff8;
    width: 65px;
    height: 65px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.save-button {
    width: 100%;
    display: flex;
    margin-top: 32px;
}

.edit-beat-header {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    /*padding-bottom: 32px;*/
}
.edit-beat-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.check {
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    margin: 3px 5px 0 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.free {
    font-size: 12px;
    font-weight: 400;
    color: rgb(150,150,150);
    margin-top: 3px;
}
.licenses-disable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
.edit-background {
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    position: relative;
}
.edit-title-tags {
    width: 50%;
    padding-right: 16px;
}
.edit-audio-img {
    width: 50%;
    padding-left: 16px;
    display: flex;
}
.edit-label {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.edit-input {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: #262626;
    border-radius: 5px;
}
.max-s-tag {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: 500;
}
.add-tag {
    height: 44px;
    padding: 0 12px;
    border-radius: 5px;
    background-color: #222222;
    color: #A3A3A3;
    margin-left: 8px;
    pointer-events: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.tags {
    height: 40px;
}
.tag {
    padding: 5px 12px;
    border: 1px solid #707070;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    max-width: 32%;
}
.tag:hover {
    background-color: rgba(0,0,0,0.3);
}
.tag span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.delete-tag {
    margin-left: 5px;
    cursor: pointer;
    pointer-events: initial;
    opacity: 0.3;
    transform: rotate(45deg);
}
.delete-tag:hover {
    opacity: 0.5;
}
.edit-audio {
    text-align: center;
    display: inline-block;
    width: 270px;
}
.audio-btn {
    width: 270px;
    height: 61px;
    border-radius: 5px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
}
.audio-btn span {
    font-size: 12px;
    font-weight: 400;
    width: 146px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mp3, #wav, #zip {
    display: none;
}
.edit-img {
    width: 100%;
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    align-items: center;
}
.edit-image {
    width: 203.2px;
    height: 203.2px;
    border-radius: 5px;
    object-fit: cover;
}

.input-select {
    cursor: pointer;
    text-align: left;
    position: relative;
}

.pus-container {
    position: absolute;
    left: 0;
    /*top: 100%;*/
    top: 0;
    width: 100%;
    height: 300px;
    padding: 5px 5px 0 0;
    background-color: #1b1b1b;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    z-index: 500;
}
.pop-up-select {
    height: 290px;
    overflow: auto;
}
.select-edit {
    width: 100%;
    padding: 0 15px;
    color: #707070;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    background-color: inherit;
    text-align: left;
}
.select-edit:hover {
    color: white;
}
.edit-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
}
.edit-back {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.30);
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
}

@media (max-width: 1025px) {

}

@media (max-width: 767px) {
    .edit-background {
        flex-direction: column;
    }
    .tags, .edit-audio {
        margin-bottom: 32px;
    }
    .edit-audio-img, .edit-title-tags {
        padding: 0;
    }
    .edit-title-tags,
    .edit-audio-img,
    .edit-audio,
    .edit-title-tags,
    .audio-btn,
    .edit-image {
        width: 100%;
    }
    .edit-audio-img {
        flex-direction: column;
    }
    .edit-img {
        padding: 0;
    }
    .edit-image {
        height: initial;
    }
}