.edit-beat-header {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 32px;
}
.edit-beat-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
}
.edit-background {
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
}
.edit-title-tags {
    width: 50%;
    padding-right: 16px;
}
.edit-audio-img {
    width: 50%;
    padding-left: 16px;
}
.edit-label {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.edit-input {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: #262626;
    border-radius: 5px;
}
.max-s-tag {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: 500;
}
.add-tag {
    height: 44px;
    padding: 0 12px;
    border-radius: 5px;
    background-color: #222222;
    color: #A3A3A3;
    margin-left: 8px;
    pointer-events: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.tags {
    height: 30px;
}
.tag {
    padding: 5px 12px;
    border: 1px solid #707070;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.tag:hover {
    background-color: rgba(0,0,0,0.3);
}
.delete-tag {
    margin-left: 5px;
    cursor: pointer;
    pointer-events: initial;
    opacity: 0.3;
    transform: rotate(45deg);
}
.delete-tag:hover {
    opacity: 0.5;
}
.edit-audio {
    text-align: center;
    display: inline-block;
    width: 270px;
}
.audio-btn {
    width: 270px;
    height: 65px;
    border-radius: 5px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
#mp3, #wav, #zip {
    display: none;
}

@media (max-width: 1025px) {

}

@media (max-width: 767px) {
    .edit-background {
        flex-direction: column;
    }
    .edit-audio-img, .edit-title-tags {
        padding: 0;
    }
    .edit-title-tags,
    .edit-audio-img,
    .edit-audio,
    .edit-title-tags,
    .audio-btn {
        width: 100%;
    }
}