.equalizer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /*margin: 0 auto 16px auto;*/
    /*background-color: #141414;*/
    border: 1px solid #545454;
    border-radius: 999px;
    padding: 14px;
    position: relative;
    overflow: hidden;
}

.equalizer-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    opacity: 0.2;
}

.equalizer-play, .equalizer-pause-beat {
    height: 48px;
    width: 48px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: saturate(180%) blur(3px);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.equalizer-play::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid transparent;
    border-left: 17px solid white;
    transform: translate(-25%, -50%);
}

.equalizer-pause-beat::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: white;
    transform: translate(50%, -50%);
}
.equalizer-pause-beat::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: white;
    transform: translate(-150%, -50%);
}

.equalizer-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 92%;
    height: 50px;
}

@keyframes go-up-down {
    0% { height: 0; }
    100% { height: 40px; }
}

@keyframes go-up-down-2 {
    0% { height: 0; }
    100% { height: 20px; }
}

.q-l {
    position: relative;
    width: 6px;
    border-radius: 999px;
    background-color: #ffffff40;
}

.line-1 {
    height: 30px;
}
.line-2 {
    height: 20px;
}
.line-3 {
    height: 10px;
}
.line-4 {
    height: 35px;
}
.line-5 {
    height: 25px;
}
.line-6 {
    height: 40px;
}
.line-7 {
    height: 15px;
}
.line-8 {
    height: 25px;
}
.line-9 {
    height: 30px;
}
.line-10 {
    height: 20px;
}

.line-11 {
    height: 30px;
}
.line-12 {
    height: 20px;
}
.line-13 {
    height: 10px;
}
.line-14 {
    height: 35px;
}
.line-15 {
    height: 25px;
}
.line-16 {
    height: 40px;
}
.line-17 {
    height: 15px;
}
.line-18 {
    height: 25px;
}
.line-19 {
    height: 30px;
}
.line-20 {
    height: 20px;
}

.line-21 {
    height: 30px;
}
.line-22 {
    height: 20px;
}
.line-23 {
    height: 10px;
}
.line-24 {
    height: 35px;
}
.line-25 {
    height: 25px;
}
.line-26 {
    height: 40px;
}
.line-27 {
    height: 15px;
}
.line-28 {
    height: 25px;
}
.line-29 {
    height: 30px;
}
.line-30 {
    height: 20px;
}

.line-31 {
    height: 30px;
}
.line-32 {
    height: 20px;
}
.line-33 {
    height: 10px;
}
.line-34 {
    height: 35px;
}
.line-35 {
    height: 25px;
}
.line-36 {
    height: 40px;
}
.line-37 {
    height: 15px;
}
.line-38 {
    height: 25px;
}
.line-39 {
    height: 30px;
}
.line-40 {
    height: 20px;
}

.line-41 {
    height: 30px;
}
.line-42 {
    height: 20px;
}
.line-43 {
    height: 10px;
}
.line-44 {
    height: 35px;
}
.line-45 {
    height: 25px;
}
.line-46 {
    height: 40px;
}
.line-47 {
    height: 15px;
}
.line-48 {
    height: 25px;
}
.line-49 {
    height: 30px;
}
.line-50 {
    height: 20px;
}

.line-51 {
    height: 30px;
}
.line-52 {
    height: 20px;
}
.line-53 {
    height: 10px;
}
.line-54 {
    height: 35px;
}
.line-55 {
    height: 25px;
}
.line-56 {
    height: 40px;
}
.line-57 {
    height: 15px;
}
.line-58 {
    height: 25px;
}
.line-59 {
    height: 30px;
}
.line-60 {
    height: 20px;
}

@media (max-width: 1025px) {
    .line-51, .line-52, .line-53, .line-54, .line-55, .line-56, .line-57, .line-58, .line-59, .line-60 {
        display: none;
    }
}

@media (max-width: 767px) {
    .line-41, .line-42, .line-43, .line-44, .line-45, .line-46, .line-47, .line-48, .line-49, .line-50 {
        display: none;
    }
}