header {
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.80);
    /*-webkit-backdrop-filter: saturate(180%) blur(6px);*/
    backdrop-filter: saturate(180%) blur(6px);
    padding: 0 32px;
    font-size: 14px;
    position: fixed;
    z-index: 50;
    transition: .3s;
    /*border-bottom: 1px solid rgba(15, 15, 15, 1);*/
}

.header__container {
    height: 100%;
    /*max-width: 1440px;*/
    width: 100%;
    margin: auto;
    justify-content: space-between;
    position: relative;
}

.header-left {
    width: 20%;
}

.header-center {
    width: 60%;
    column-gap: 16px;
    padding: 16px;
}

.header-right {
    width: 20%;
    justify-content: right;
    column-gap: 16px;
}

.header-logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    transition: .2s;
}

/*.header-logo:hover > img {*/
/*    transform: scale(1.2);*/
/*}*/

.hdr-input {
    height: 36px;
    width: 50%;
    border-radius: 999px;
    background-color: #383838;
    border: 1px solid #4a4a4a;
    padding: 0 10px;
    margin-left: 16px;
}

.hdr-input img {
    margin-right: 10px;
}

.hdr-input input {
    background-color: inherit;
    color: white;
    font-weight: 400;
    width: 100%;
}

.hdr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 16px 32px;*/
    width: 150px;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hdr-btn span {
    /*transition: .3s;*/
}

.hdr-btn:hover span {
    opacity: 0.6;
}

/*.dropdown__menu {*/
/*    width: 100%;*/
/*    padding: 0 32px;*/
/*    background-color: #141414;*/
/*    position: absolute;*/
/*    top: 64px;*/
/*    left: 0;*/
/*    display: none;*/
/*}*/

.menu {
    padding: 32px 0;
    display: flex;
}

.menu div {
    max-width: 192px;
    margin-right: 20px;
}

.menu span {
    margin-bottom: 8px;
    color: #707070;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul {
    margin-top: 7px;
}

.menu li {
    border-radius: 5px;
    margin-left: -8px;
    overflow: hidden;
}

.menu li a {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 8px 16px 8px 8px;
    font-size: 15px;
    font-weight: 400;
    color: #f1f1f1;
}

.menu li a:hover {
    background-color: #1b1b1b;
}

.menu li a img {
    margin-right: 15px;
}

.header__link:hover {
    color: #707070;
}

.header__link:active {
    color: white;
}

.line {
    width: 1px;
    height: 10px;
    background-color: #707070;
}

.hdr-drop-btn {
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.bag {
    color: white;
}

.bag ion-icon {
    font-size: 18px;
}

.profile-header {
    justify-content: center;
    flex-direction: column;
}

.profile__img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hdr-drop-btn-mobile {
    /*padding: 8px;*/
    cursor: pointer;
    position: relative;
    display: none;
}

/*.arrow {*/
/*    opacity: 0.8;*/
/*    margin-left: 8px;*/
/*}*/

/*.hdr-drop-btn:hover > .arrow {*/
/*    opacity: 1;*/
/*}*/

.cartAmount {
    position: absolute;
    left: 50%;
    top: 56%;
    font-size: 9px;
    transform: translate(-50%, -50%);
    color: white;
}

.cart__container {
    max-height: 400px;
    overflow: auto;
    padding-right: 16px;
}

.cart__container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.cart__container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 35px rgba(100, 100, 100, 0.91);
    border-radius: 5px;
}

.dropdown {
    font-size: 18px;
    position: absolute;
    top: 75px;
    border-radius: 15px;
    z-index: 999999;
    background-color: #1f1f1f;
    right: -1px;
}

.dropdown__cart {
    max-width: 400px;
    min-width: 350px;
    padding: 24px;
    color: white;
}
.drop-cart-right {
    right: -1px;
}

.dropdown__cart__beat {
    margin-top: 16px;
    font-size: 14px;
    justify-content: space-between;
}

.beat-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.beat-link {
    max-width: 100%;
    display: inline-block;
}

.back-dropdown {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
}

.cart-empty {
    width: 100%;
    height: 300px;
    flex-direction: column;
}

.dropdown__profile {
    flex-direction: column;
    padding: 16px;
    max-width: 250px;
    min-width: 200px;
}

.dropdown__profile a, .dropdown__profile button {
    align-items: center;
    display: flex;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 400;
    color: white;

    width: 100%;
}

.dropdown__profile span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown__profile ion-icon {
    margin-right: 10px;
}

.profile-line {
    height: 0.5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 16px 0;
}

.burger {
    display: none;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

.btn-burger {
    height: 100%;
    margin-right: 15px;
}

.btn-burger ion-icon {
    cursor: pointer;
    color: white;
    font-size: 28px;
}

.close-burger {
    color: white;
}

.back__burger {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 190;
    display: none;
    background-color: hsla(0, 0%, 7%, .36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: 0;
}

.menu__burger {
    width: 258px;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(3px);
    backdrop-filter: saturate(180%) blur(3px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    flex-direction: column;
    transform: translateX(-258px);
    display: none;
}

.burger__header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.burger__header span {
    transform: scale(1.6);
    padding-right: 15px;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

.burger__main {
    background: rgba(5, 5, 5, 1);
    flex: 1 1 auto;
    height: 500px;
    padding: 16px;
    overflow: auto;
}

/*@media (max-width: 1290px) {*/
/*    .dropdown__profile, .dropdown__cart {*/
/*        right: -75px;*/
/*    }*/
/*}*/
/*@media (max-width: 1270px) {*/
/*    .dropdown__profile, .dropdown__cart {*/
/*        right: -65px;*/
/*    }*/
/*}*/
/*@media (max-width: 1250px) {*/
/*    .dropdown__profile, .dropdown__cart {*/
/*        right: -55px;*/
/*    }*/
/*}*/
/*@media (max-width: 1230px) {*/
/*    .dropdown__profile, .dropdown__cart {*/
/*        right: -45px;*/
/*    }*/
/*}*/
/*@media (max-width: 1200px) {*/
/*    .dropdown__profile, .dropdown__cart {*/
/*        right: -32px;*/
/*    }*/
/*}*/
/*@media (max-width: 1140px) {*/
/*    .dropdown {*/
/*        border-radius: 25px 0 0 25px;*/
/*    }*/
/*}*/

/*@media (max-width: 1080px) {*/
/*    .hdr-input {*/
/*        display: none;*/
/*    }*/
/*}*/

@media (max-width: 1215px) {
    .header-left {
        width: initial;
    }
    .header-center {
        width: 75%;
        justify-content: left;
    }

    .hdr-btn {
        width: initial;
    }
    .hdr-btn:hover span {
        transform: none;
    }
}


@media (max-width: 767px) {
    header {
        padding: 0 16px;
    }

    .header-right {
        width: initial;
    }

    .header-logo, .hdr-btn {
        padding: 0;
    }

    .header__line {
        top: 55px;
    }

    .NONE {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hdr-drop-btn-mobile {
        display: initial;
    }
    .cartAmount {
        top: 60%;
    }
    .dropdown__cart {
        display: none;
    }
}

@media (max-width: 300px) {
    .NONE2 {
        display: none;
    }
}