.header {
    width: 100%;
    height: 280px;
    /*max-height: 280px;*/
    padding: 44px;
    flex-direction: column;
    position: relative;
    background-image: url("http://localhost:7777/img/beatstore/home.png");
    backdrop-filter: saturate(180%) blur(3px);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 44px;
    background-size: auto;
    background-attachment: fixed;
}

.header h1 {
    font-size: 32px;
    font-weight: 800;
}

.header span {
    font-weight: 400;
    color: #9f9f9f;
    white-space: nowrap;
}

.title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: initial;
}

.slider {
    display: flex;
    overflow-x: auto;
    padding: 15px 0;
    /*margin: 0 -10px;*/
    line-height: 20px;
}

.slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: 203.2px;
}

.slide:not(:last-child) {
    margin-right: 16px;
}

.slide_genre {
    width: 258px;
}

.slide-img-container {
    position: relative;
    margin-bottom: 10px;
}

.slide-img-container:hover > a .slide-img {
    opacity: 0.6;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 48px;
    width: 48px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: saturate(180%) blur(3px);
    border-radius: 50%;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.play::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid transparent;
    border-left: 17px solid white;
    transform: translate(-25%, -50%);
}

.play:hover {
    background: rgba(255, 255, 255, 0.50);
}

.slide-img-container:hover > .play {
    opacity: 1;
}

.slide-img, .card-img, .slide-img-genre {
    object-fit: cover;
    border: 1px solid rgba(15, 15, 15, 1);
}

.slide-img {
    width: 203.2px;
    height: 203.2px;
    border-radius: 5px;
    transition: .2s;
}

.card-img {
    width: 119px;
    height: 119px;
    border-radius: 50%;
}

.slide-img-genre {
    width: 258px;
    height: 157px;
    border-radius: 5px;
}

.back-layer {
    width: 79%;
    display: block;
    background-color: #0a0a09;
    height: 7px;
    border: 1px solid #383838;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    opacity: 0.5;
    z-index: 0;
}

.front-layer {
    width: 90%;
    display: block;
    background-color: #0a0a09;
    height: 7px;
    border: 1px solid #383838;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}

.w119 {
    width: 119px;
}

.grid-item {
    display: grid;
    grid-row-gap: 1px;
    line-height: 15px;
}

.sl-gr-it {
    display: flex;
    width: 203.2px;
}

.footer {
    border-top: 1px solid #1a1a1a;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #9f9f9f;
}

@media (max-width: 1080px) {
    .header {
        /*background-position: left;*/
        background-position-x: -386px;
        background-position-y: 44px;
        padding: 44px 0 0 0;
        /*height: 150px;*/
        /*background-size: auto;*/
    }
    .header h1 {
        font-size: 24px;
    }
}

@media (max-width: 1025px) {
    .slider {
        padding: 15px 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .header {
        /*height: 480px;*/

    }

    /*.header h1 {*/
    /*    font-size: 52px;*/
    /*}*/

    .header li {
        padding-left: 7px;
        max-width: 60px;
    }

    /*.title {*/
    /*    margin-top: 30px;*/
    /*}*/
}

@media (max-width: 501px) {
    .header span {
        display: none;
    }

    .header ul {
        display: none;
    }
}

@media (max-width: 300px) {
    /*.header h1 {*/
    /*    font-size: 35px;*/
    /*}*/

    .header li {
        padding-left: 5px;
        font-size: 9px;
        max-width: 60px;
    }

    .header span {
        font-size: 9px;
    }
}