.header {
    width: 100%;
    height: 280px;
    /*max-height: 280px;*/
    padding: 44px;
    flex-direction: column;
    position: relative;
    background-image: url("http://localhost:7777/img/beatstore/home.png");
    backdrop-filter: saturate(180%) blur(3px);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 44px;
    background-size: auto;
    background-attachment: fixed;
}

.header h1 {
    font-size: 32px;
    font-weight: 800;
}

.header span {
    font-weight: 400;
    color: #9f9f9f;
    white-space: nowrap;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: initial;
}

.slider {
    display: flex;
    overflow-x: auto;
    padding: 15px 0;
    /*margin: 0 -10px;*/
    line-height: 20px;
}

.slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: 275px;
}

.slide:not(:last-child) {
    margin-right: 16px;
}



.slide-img-container {
    position: relative;
    margin-bottom: 10px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s;
}

.slide-img-container:hover > a .slide-img {
    opacity: 0.8;
}

.play, .pause-beat {
    position: absolute;
    bottom: 28px;
    right: 28px;
    /*transform: translate(-50%, -50%);*/
    height: 48px;
    width: 48px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: saturate(180%) blur(3px);
    border-radius: 50%;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: .2s;
    z-index: 10;
}

.play::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid transparent;
    border-left: 17px solid white;
    transform: translate(-25%, -50%);
}

.play:hover, .pause-beat:hover {
    transform: scale(1.1);
}

/*.pause-beat {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    height: 48px;*/
/*    width: 48px;*/
/*    padding: 12px;*/
/*    background: rgba(0, 0, 0, 0.50);*/
/*    backdrop-filter: saturate(180%) blur(3px);*/
/*    border-radius: 50%;*/
/*    opacity: 0;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: .2s;*/
/*    z-index: 10;*/
/*display: none;*/
/*}*/

.pause-beat::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: white;
    transform: translate(50%, -50%);
}

.pause-beat::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: white;
    transform: translate(-150%, -50%);
}

.slide-img-container:hover > .play {
    opacity: 1;
}

.slide-img-container:hover > .pause-beat {
    opacity: 1;
}

.slide-img, .card-img {
    object-fit: cover;
    border: 1px solid rgba(15, 15, 15, 1);
}

.slide-img {
    width: 275px;
    height: 275px;
    border-radius: 5px;
    transition: .2s;
}

.card-img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
}

.back-layer {
    width: 79%;
    display: block;
    background-color: #0a0a09;
    height: 7px;
    border: 1px solid #383838;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    opacity: 0.5;
    z-index: 0;
}

.front-layer {
    width: 90%;
    display: block;
    background-color: #0a0a09;
    height: 7px;
    border: 1px solid #383838;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}

.w192 {
    width: 192px;
}

.grid-item {
    display: grid;
    grid-row-gap: 1px;
    line-height: 19px;
}

.sl-gr-it {
    display: flex;
    width: 275px;
}

.footer {
    border-top: 1px solid #1a1a1a;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #9f9f9f;
}

@media (max-width: 1080px) {
    .header {
        /*background-position: left;*/
        background-position-x: -386px;
        background-position-y: 44px;
        padding: 44px 0 0 0;
        /*height: 150px;*/
        /*background-size: auto;*/
    }

    .header h1 {
        font-size: 24px;
    }
}

@media (max-width: 1025px) {
    .slider {
        padding: 15px 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .header {
        /*height: 480px;*/

    }

    /*.header h1 {*/
    /*    font-size: 52px;*/
    /*}*/
    .header li {
        padding-left: 7px;
        max-width: 60px;
    }

    /*.title {*/
    /*    margin-top: 30px;*/
    /*}*/
}

@media (max-width: 501px) {
    .header span {
        display: none;
    }

    .header ul {
        display: none;
    }
}

@media (max-width: 300px) {
    /*.header h1 {*/
    /*    font-size: 35px;*/
    /*}*/
    .header li {
        padding-left: 5px;
        font-size: 9px;
        max-width: 60px;
    }

    .header span {
        font-size: 9px;
    }
}