.playlists {
    height: 60%;
    overflow: hidden;
}

.playlists-menu {
    width: 100%;
    border-bottom: 1px solid rgb(100,100,100);
    display: flex;
}
.playlists-menu-item {
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: inherit;
    padding-bottom: 10px;
    margin-right: 20px;
    transform: translateY(1.5px);
}
.playlists-menu-item-active {
    border-bottom: 1px solid;
    color: #0b8aff;
}
.list-playlists {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    padding-top: 16px;
}
.playlists-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.add-playlist {
    display: flex;
    border-radius: 999px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: #005ff8;
}
.add-playlist:hover {
    background-color: #0b8aff;
}
.minus-playlist {
    display: flex;
    border-radius: 999px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}
.minus {
    width: 13px;
    height: 2.4px;
    background-color: white;
    border-radius: 999px;
    display: none;
}
.minus-playlist:hover {
    background-color: #383838;
}
.minus-playlist:hover > .minus {
    display: initial;
}
.minus-playlist:hover > img {
    display: none;
}

@media (max-width: 1025px) {

}

@media (max-width: 767px) {
    .playlists {
        height: 100%;
    }
}